{% extends "guide/base.html" %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'guide/plugins/prism/prism.css' %}">
<link rel="stylesheet" href="{% static 'guide/plugins/lightbox/dist/ekko-lightbox.min.css' %}">
{% endblock %}

{% block js %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'guide/plugins/prism/prism.js' %}"></script>
<script type="text/javascript" src="{% static 'guide/plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'guide/plugins/lightbox/dist/ekko-lightbox.min.js' %}"></script>
{% endblock %}

{% block body %}
<body class="body-blue">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="{% url 'home' %}">
                            <span aria-hidden="true" class="icon_documents_alt icon"></span>
                            <span class="text-highlight">CMU</span><span class="text-bold">本科新生手册</span>
                        </a>
                    </h1>
                </div><!--//branding-->
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Chceklist(1)</li>
                </ol>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon icon_compass_alt"></i> 开学前要做的事（一）</h1>
                </div><!--//doc-header-->  
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="dates-and-ddl" class="doc-section">
                                <h2 class="section-title">重要日期概览</h2>
                                <div class="section-block">
                                    <p>最新时间以<a href="https://admission.enrollment.cmu.edu/pages/ntie-dates-deadlines">官网</a>为准。</p>
                                    <ol class="list">
                                        <li>宿舍Move-In Day：2018年8月18日</li>
                                        <li>国际学生必须参加的Check-In Session：2018年8月19日</li>
                                        <li>Orientation Week：2018年8月19-26日</li>
                                        <li>开学时间：2018年8月27日</li>
                                    </ol>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">5月16日</th>
                                                    <td>
                                                        <ul class="list">
                                                            <li>可登陆SIO（Student Information Online）<a href="https://s3.andrew.cmu.edu/sio/" target="_blank">https://s3.andrew.cmu.edu/sio/</a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">5月31日</th>
                                                    <td>
                                                        <ul class="list">
                                                            <li>完成宿舍和Meal Plan<a href="https://starrez.housing.cmu.edu/StarRezPortal/Default.aspx?Params=L9ezxPcQnQv2lpXY6iXXoR%2bFMq%2fZlOL%2f" target="_blank">申请</a></li>
                                                            <li>提交父母信息表（扫描发送email即可）<a href="https://admission.enrollment.cmu.edu/media/W1siZiIsIjIwMTgvMDIvMTMvOHRzZzZ6MTllZl9QYXJlbnRfSW5mb3JtYXRpb25fRm9ybV8yMDE4X1IyXzQucGRmIl1d/Parent%20Information%20Form%202018_R2-4.pdf" target="_blank">链接</a></li>
                                                            <li>完成录取学生问卷 <a href="https://www.asqsurvey.com/plus/PlusDefault.asp?dicode=2074&userid=&passw=" target="_blank">链接</a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">宿舍申请提交后72小时内</th>
                                                    <td>
                                                        <ul class="list">
                                                            <li><a href="https://www.cmu.edu/housing/resident-services/special-accommodations.html" target="_blank">特殊住宿需求</a></li>
                                                            <li><a href="https://www.cmu.edu/dining/our-food/special-dietary-needs.html" target="_blank">特殊饮食需求</a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">6月30日</th>
                                                    <td>
                                                        <ul class="list">
                                                            <li>提交疫苗接种表格：<a href="https://www.cmu.edu/health-services/healthconnect/index.html" target="_blank">Health Connect</a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">7月1日</th>
                                                    <td>
                                                        <ul class="list">
                                                            <li>提交期末成绩<a href="https://admission.enrollment.cmu.edu/media/W1siZiIsIjIwMTgvMDIvMjYvNTdtdTlzNHZ6MF8yMDE4X0ZpbmFsX0dyYWRlX1JlcG9ydC5wZGYiXV0/2018%20Final%20Grade%20Report.pdf" target="_blank">报告</a></li>
                                                            <li>提交AP或IB分数（相关政策请查看<a href="https://www.cmu.edu/hub/registrar/registration/ap-transfer-credit.html" target="_blank">官网</a>）</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">8月15日</th>
                                                    <td>
                                                        <ul class="list">
                                                            <li>缴纳学费</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">9月1日</th>
                                                    <td>
                                                        <ul class="list">
                                                            <li>宗教信仰<a href="https://www.surveymonkey.com/r/GSFHTD3" target="_blank">调查</a></li>
                                                            <li>残疾情况<a href="https://admission.enrollment.cmu.edu/media/W1siZiIsIjIwMTcvMDIvMjMvNHoxaW5zZzA3MF92b2x1bnRhcnlfZGlzY2xvc3VyZV9vZl9kaXNhYmlsaXR5LnBkZiJdXQ/voluntary-disclosure-of-disability.pdf" target="_blank">说明</a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">9月11日</th>
                                                    <td>
                                                        <ul class="list">
                                                            <li>办理健康保险，或购买其他符合要求的保险并填写Waiver<a href="https://www.cmu.edu/health-services/student-insurance/index.html" target="_blank">官网</a></li>
                                                        </ul>
                                                    </td>
                                                </tr>                                            
                                            </tbody>
                                        </table>
                                    </div><!--//table-responsive-->
                                </div>
                            </section><!--//doc-section-->
                            <section id="may" class="doc-section">
                                <h2 class="section-title">五月</h2>
                                <div class="section-block">
                                    <div id="i20" class="section-block">
                                        <h3 class="block-title">提交i20材料</h3>
                                        <h6>所需材料</h6>
                                        <p>
                                            <ul class="list">
                                                <li><a href="https://admission.enrollment.cmu.edu/media/W1siZiIsIjIwMTgvMDIvMDcvN2w4NXhiYm5pZl8yMDE4X0ludGxfU3R1ZGVudF9JbmZvX0Zvcm0ucGRmIl1d/2018%20Intl%20Student%20Info%20Form.pdf" target="_blank">International Student Information Form</a></li>
                                                <li><a href="https://admission.enrollment.cmu.edu/media/W1siZiIsIjIwMTgvMDIvMDcvNThpdXg5NnVvaV8yMDE4X0FmZmlkYXZpdF9vZl9TdXBwb3J0LnBkZiJdXQ/2018%20Affidavit%20of%20Support.pdf" target="_blank">Affidavit of Support for Financial Sponsor</a></li>
                                                <li>相关财力证明</li>
                                            </ul>
                                        </p>
                                        <h6>提交方法</h6>
                                        <p>将所有材料填写完毕以后通过国际快递寄送给OIE，常见快递公司有FedEx，DHL，UPS等。</p>
                                        <h6>注意事项</h6>
                                            <ul class="list">
                                                <li>务必填写正确地址，OIE会根据材料中填写的地址寄送i20，与申请时填写的地址无关</li>
                                                <li>OIE一般五月底开始处理i20，寄出i20后会收到快递公司发来的邮件</li>
                                                <li>拿到i20后就可以开始申请签证了</li>
                                                <li>其他详细信息请查看<a href="https://admission.enrollment.cmu.edu/pages/ntie-international-students" target="_blank">官网</a></li>
                                            </ul>
                                    </div>
                                    <div id="housing" class="section-block">
                                        <h3 class="block-title">提交宿舍申请</h3>
                                        <h6>宿舍信息</h6>
                                        <p>大一宿舍楼及其相关介绍请查看<a href="https://www.cmu.edu/housing/our-communities/find-housing/first-year/index.html" target="_blank">官网</a></br>同一幢宿舍可能会有不同房型，不同房型价格不同，总而言之贵的房型要么是房间略大，要么是多一个客厅，具体各宿舍各房型的样子请查看<a href="https://www.cmu.edu/housing/our-communities/residences/virtual-tours.html" target="_blank">Virtual Tours</a></p>
                                        <h6>宿舍价格</h6>
                                        <p>宿舍费用请查看<a href="https://www.cmu.edu/housing/our-communities/rates-and-fees/18-19HousingRates.pdf" target="_blank">18-19 Housing Rates</a></p>
                                        <h6>宿舍和室友选择</h6>
                                        <p>因人而异，请参考宿舍信息和咨询群内学长学姐。CFA同学建议选择Donner，爱好做饭的同学建议选择Rez。宿舍申请可以指定室友，根据交定金日期进行分配，所以抱ED同学大腿是最好的选择。根据以往惯例，中国人选择比较多的宿舍有：Morewood，Stever，Mudge，Donner，Rez</p>
                                    </div>
                                    <div id="mealplan" class="section-block">
                                        <h3 class="block-title">提交Meal Plan申请</h3>
                                        <h6>Meal Plan区别</h6>
                                        <p>请查看<a href="https://www.cmu.edu/dining/choose-your-dining-plan/dining-plan-options.html#traditionaldiningplans" target="_blank">官网</a></p>
                                        <h6>Meal Plan选择</h6>
                                        <p>所有人选择Red Plan都足够，申请到Rez的同学可以改成Yellow Plan</p>
                                        <h6>Block和Flexible Dollars</h6>
                                        <p>Block类似于饭票，在不同食堂一个block可以买到的东西不同，一般为一个entree，一个side和一份饮料</br>Flexible Dollars类似于零钱，可以在学校便利店、食堂和部分售货机使用，有些食堂在Block基础上额外加一些Flexible Dollars来升级主食，更多信息请查看之后会更新的吃喝板块。</p>
                                        <h6>纸质Agreement</h6>
                                        <p>未满18岁的学生需要提交<a href="https://www.cmu.edu/dining/pdfs/2018_2019_First_Year_Student_Dining_Plan_Agreement%204.13.18.pdf" target="_blank">Agreement</a>（扫描发送邮件即可），已满18岁的直接在dining portal选择即可</p>
                                    </div>                                    
                                </div><!--//section-block-->
                            </section><!--//doc-section-->
                            <section id="june" class="doc-section">
                                <h2 class="section-title">六月</h2>
                                <div class="section-block">
                                    <div id="immune" class="section-block">
                                        <h3 class="block-title">体检和疫苗</h3>
                                        <h6>体检和疫苗地点</h6>
                                        <p>你所在地的出国人员体检中心或相关医院</p>
                                        <h6>疫苗要求</h6>
                                        <p>请查看<a href="https://www.cmu.edu/health-services/immunization/index.html" target="_blank">官网</a></p>
                                        <h6>必须体检么？</h6>
                                        <p>学校没有强制要求，最好体检以防入境检查</p>
                                        <h6>如果没有来得及打完所有疫苗？</h6>
                                        <p>首先按时提交疫苗接种表格，学校会邮件提醒你有需要接种的疫苗，到达学校后去Health Service接种即可，购买学校保险的话免费接种</p>
                                    </div>
                                    <div id="register" class="section-block">
                                        <h3 class="block-title">选课</h3>
                                        <h6>选课流程</h6>
                                        <p>每个学院情况不同，请参照<a href="https://admission.enrollment.cmu.edu/pages/ntie-academic-registration" target="_blank">官网</a>新生选课介绍</p>
                                        <h6>Lecture</h6>
                                        <p>每节课会有一个或多个的班，根据Lecture时间段不同分为不同的Lecture，有的教授会教这学期所有Lecture，有的课不同Lecture教授不同</p>  
                                        <h6>Recitation</h6> 
                                        <p>大多数课每周会有一到两节助教带的Recition，一般用于复习上课知识和做相关练习题</p>
                                        <h6>教授好坏</h6>    
                                        <p>建议选课时去<a href="http://www.ratemyprofessors.com" target="_blank">Rate My Professors</a>查看相应教授的评分，也可以查看每学期学生对于该节课该教授的<a href="https://www.cmu.edu/hub/fce/" target="_blank">Faculty Course Evaluations</a></p>
                                        <h6>专业课程要求</h6> 
                                        <p>不同学院和专业需要上的课都不一样，请查看<a href="http://coursecatalog.web.cmu.edu/#tableofcontentstext" target="_blank">Undergradaute Catalog</a></p>
                                        <h6>课程时间安排</h6>
                                        <p>请查看<a href="https://enr-apps.as.cmu.edu/assets/SOC/sched_layout_fall.htm" target="_blank">Schedule of Classes</a>，也可以在SIO内Plan Schedule来尝试排出下学期的课表</p>
                                    </div>
                                    <div id="english" class="section-block">
                                        <h3 class="block-title">English Placement Test</h3>
                                        <h6>介绍</h6>
                                        <p>国际生默认要接受英语写作能力的考核。在CMU有一门每个人都要上的写作课是76-101 Interpretation and Argument（简称interp），而国际生原则是需要先上一门76-100再上interp。如果这个考试考得好，就可以直接上interp，如果没考好，就要先上76-100</p>
                                        <h6>免考条件</h6>
                                        <p>如果你满足下列条件之一：</p>
                                        <ul class="list">
                                            <li>AP English Language and Composition 5分</li>
                                            <li>IB English A 7分</li>
                                            <li>Cambridge International A or AS level exams in English Language, Literature in English, OR Language and Literature in English拿到A</li>
                                        </ul>  
                                        <p>请根据<a href="https://www.cmu.edu/dietrich/english/first_year/ap-ibpolicy.html" target="_blank">官网</a>指示发送邮件申请免考</p>
                                        <h6>其他考试信息</h6>                                
                                        <p>请查看<a href="https://www.cmu.edu/dietrich/english/first_year/ap-ibpolicy.html" target="_blank">官网</a></p>
                                        <h6>考试内容</h6> 
                                        <p>你有48小时可以用来完成一篇作文。阅读材料每年都不一样，大概是托福作文第二题形式。长度约为1400词。批完出分会显示100或101</p>
                                        <h6>考试时间</h6>
                                        <p>在官网列出的考试时间段内均可开始考试，一般有2个deadline，在前一个deadline前完成考试会较早出分，在选课时会比较有优势。建议早考早结束</p>
                                        <h6>关于76-101</h6>
                                        <p>Interp不同的教授会有不同的topic，一般来讲拿A的难度与topic有趣与否无关，只和教授给分是否严格有关，历来比较好评的interp教授有：Rachel Mennies-Goodmanson, Matt Nelson, Pierce Williams, Ana Cooke, Matthew Zebrowski, Maggie Goss</p>
                                    </div>
                                    <div id="transfer" class="section-block">
                                        <h3 class="block-title">提交AP/IB换分申请</h3>
                                        <h6>换分政策</h6>
                                        <p>请查看<a href="https://www.cmu.edu/hub/registrar/registration/ap-transfer-credit.html" target="_blank">官网</a></p>
                                        <h6>AP成绩没出怎么办？</h6>
                                        <p>先将所有想换分的科目全部添上，成绩寄到后会自动根据成绩换分，不用担心某门课分数太低的问题</p>
                                    </div>                                   
                                </div><!--//section-block-->
                            </section><!--//doc-section-->
                            <section id="july" class="doc-section">
                                <h2 class="section-title">七月</h2>
                                <div class="section-block">
                                    <div id="alcohol" class="section-block">
                                        <h3 class="block-title">完成Alcohol Edu &amp; Haven</h3>
                                        <h6>介绍</h6>
                                        <p>两门需要在线完成的网课，Alcohol Edu主要介绍饮酒方面的各种影响和政策，Haven主要介绍防止和阻止性侵事件。</p>
                                        <h6>所需时间</h6>
                                        <p>两门课一般3-4小时就可看完</p>
                                    </div>
                                    <div id="ccm" class="section-block">
                                        <h3 class="block-title">开始学习C@CM</h3>
                                        <h6>介绍</h6>
                                        <p>C@CM全名Computing @ Carnegie Mellon。这是一门3学分的必修课，内容是在CMU会用到的关于计算机，网络，资源共享，图书馆等等方面的知识，对于刚进来的新生来说非常有用。</p>
                                        <h6>如何学习</h6>
                                        <p>每位新生在Canvas上会被自动注册这门网课，进入即可</p>  
                                        <h6>Final考试</h6>   
                                        <p>在Orientation时所有在暑假完成学习内容的同学会被要求注册考试时间，每章节之后的quiz和final总成绩达到75%即为通过，绝大多数题目都能凭常识做出，暑期认真阅读网课内容即可</p>
                                        <h6>暑假如果不想学习这门课？</h6>                                    
                                        <p>在大学里的某一学期必须注册并完成这门课，内容和暑假中的内容完全一致，建议暑假完成以免正式上学还要花费额外时间</p>
                                    </div>                                
                                </div><!--//section-block-->
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar hidden-xs">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu" data-spy="affix">
                                <li><a class="scrollto" href="#dates-and-ddl">重要日期概览</a></li>
                                <li>
                                    <a class="scrollto" href="#may">五月</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#i20">提交i20材料</a></li>
                                        <li><a class="scrollto" href="#housing">提交宿舍申请</a></li>
                                        <li><a class="scrollto" href="#mealplan">提交Meal Plan申请</a></li>
                                    </ul><!--//nav-->
                                </li>
                                <li>
                                    <a class="scrollto" href="#june">六月</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#immune">体检和疫苗</a></li>
                                        <li><a class="scrollto" href="#register">选课</a></li>
                                        <li><a class="scrollto" href="#english">English Placement Test</a></li>
                                        <li><a class="scrollto" href="#transfer">提交AP/IB换分申请</a></li>
                                    </ul><!--//nav-->
                                </li>
                                <li>
                                    <a class="scrollto" href="#july">七月</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#alcohol">完成Alcohol Edu &amp; Heaven</a></li>
                                        <li><a class="scrollto" href="#ccm">开始学习C@CM</a></li>
                                    </ul><!--//nav-->
                                </li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->         
            </div><!--//container-->
        </div><!--//doc-wrapper-->
        
    </div><!--//page-wrapper-->
    {% include "guide/footer.html" %}
     
</body>
{% endblock %}