{% extends "guide/base.html" %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'guide/plugins/prism/prism.css' %}">
<link rel="stylesheet" href="{% static 'guide/plugins/lightbox/dist/ekko-lightbox.min.css' %}">
{% endblock %}

{% block js %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'guide/plugins/prism/prism.js' %}"></script>
<script type="text/javascript" src="{% static 'guide/plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'guide/plugins/lightbox/dist/ekko-lightbox.min.js' %}"></script>
{% endblock %}

{% block body %}
<body class="body-orange">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="{% url 'home' %}">
                            <span aria-hidden="true" class="icon_documents_alt icon"></span>
                            <span class="text-highlight">CMU</span><span class="text-bold">本科新生手册</span>
                        </a>
                    </h1>
                </div><!--//branding-->
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">FAQs</li>
                </ol>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon icon_gift"></span> FAQs</h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="major" class="doc-section">
                                <h2 class="section-title">专业</h2>
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> QSSS项目是什么？<span class="label label-success">New</span></h3>
                                    <div class="answer">QSSS是DC学院下的Honor Program，非常适合对任何社会科学的量化数据分析感兴趣的同学加入。这个Program要求每年上一门seminar和毕业时写一篇thesis。在这个项目里能学习很多数据分析以及锻炼批判性思维，所以对于日后在DC中学习金融、统计、心理学等社会科学学科很有帮助。</div>
                                </div><!--//section-block-->
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> SHS项目是什么？</h3>
                                    <div class="answer">SHS同时属于MCS和DC两个学院，是DC的Honor Program，可以declare两个学院中的任何major，选课的时候有单独的reserved spot，gened课同时有humanities也有science课要求，对于MCS感兴趣的学生非常推荐。</div>
                                </div><!--//section-block-->
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 什么是Minor，Double Major，Dual Degree？</h3>
                                    <div class="answer">Minor是在你原本专业的基础上，辅修另一个专业的课程，minor课程要求比较少，以CS为例，minor需要上9门课，因此相对容易。</br></br>Double Major是在你原本专业的基础上，学习另一门专业的大部分课程，Double Major的课程要求较多，以CS为例，double major需要约18门课，学习压力会大很多。</br></br>Dual Degree是在你哪原本专业文凭的基础上，拿到另一个专业的文凭，也就是双学位，Dual Degree非常难，因为要在4年时间里学习一般人8年的内容。</div>
                                </div><!--//section-block-->
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 什么时候定这些?</h3>
                                    <div class="answer">这些都不是刚进来需要考虑的，绝大多数的Minor和Double Major是要在完成一定课程的基础上才能申请的，因此大一基本上做不到。但是有些本学院内的double major，例如CIT内的一些专业（BME，EPP等），可以在大一下学期declare major的同时declare double major。</div>
                                </div><!--//section-block-->
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 转院、转专业方便吗</h3>
                                    <div class="answer">一些学院大一进来是不定专业的，在大一下学期的时候才会正式declare major。大一会在录取的学院内学一些比较泛性的课程（例如CIT的两门intro课程），因此大一有足够一年的时间给你考虑要不要选这个专业，要不要在这个学院。如果你本身就有专业目标了，可以大一开始就盯着这个专业的课程要求去学习。</br></br>同一学院内的专业互相转是相对容易的，转进其他学院需要满足对应的转院要求（gpa，课程要求等）。最难转进的是CS，其次是CIT里的ECE专业（如果你是CIT的restricted student，转进ECE也比较困难）。所有的转院，转专业都要和advisor联系，他们会给你所有的信息和建议。</br></br>建议是不要一进来就想着要转到其他地方去，有的时候专业内容和你想象的完全不一样，有的专业你上几节课就会觉得不喜欢，有的时候你上几节课就会喜欢上它</div>
                                </div><!--//section-block-->
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 我是XX专业的，需要学些什么</h3>
                                    <div class="answer">请查看<a href="http://coursecatalog.web.cmu.edu/#tableofcontentstext">Undergradaute Catalog</a></div>
                                </div><!--//section-block-->                                
                            </section><!--//doc-section-->
                            
                            <section id="study" class="doc-section">
                                <h2 class="section-title">学习</h2>
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 我考的AP/IB/ALEVEL能换什么课？<span class="label label-success">New</span></h3>
                                    <div class="answer">AP请查看<a href="https://www.cmu.edu/hub/registrar/docs/ap-credit.pdf">AP credit</a>。</br></br>IB请查看<a href="https://www.cmu.edu/hub/registrar/docs/ib-credit.pdf">IB credit</a>。</br></br>ALEVEL请查看<a href="https://www.cmu.edu/hub/registrar/docs/cambridge-credit.pdf">ALEVEL credit</a>。</div>
                                </div><!--//section-block-->  
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 学习压力大不大？课难不难？睡不睡觉？</h3>
                                    <div class="answer">
                                        压力肯定大（全美学业压力第4名）。</br></br>课程难度和自己的选课，是否考了AP等都有关，同一节课不同教授的内容和难度也都不相同。建议选课时去<a href="http://www.ratemyprofessors.com">Rate My Professors</a>查看相应教授的评分。如果你考了AP换掉了微积分，物理等基础课，那么进来学的课程自然会比没考AP的人学的基础课更难一些（例如AP微积分5分的人可以直接上3D Calculus: 21-259）。</br></br>作息时间是因人而异的，有人喜欢早睡早起，所以排早课，下午和晚饭后写作业然后早睡。有的人喜欢晚上写作业，早上起得晚，所以排晚课，晚饭后开始写作业。作息时间没有好坏之分，只有适不适合自己。</br></br>有时熬夜赶due复习是难免的，尤其是几个due碰一起再配上几个midterm，或者是有的课作业本身很花时间（例如15-112），这个需要在选课的时候就搭 配好课程的难度和作业量。
                                    </div><!--//anwser-->
                                </div><!--//section-block-->
                                    
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> GPA重要么？满分好拿么？</h3>
                                    <div class="answer">
                                        GPA在申请实习或者申请一些需要竞争的program（例如Robotics Institute的double major）或者转学院申请（例如转进SCS）的时候有用，每学期每学院会有deans list（优秀学生名单），基本也是依据GPA。</br></br>但是你的毕业证书上是不会有GPA的，因此在你以后找正式工作的时候GPA只是衡量标准的很小的方面，更重要的是看你的经历和能力，因此在大学里如何平衡自己的GPA和能力的提升是很重要的。</br></br>GPA的高低和你的课程难度还有教授的Policy有关，有的教授给的A多，有的给的少，有的是完全按照比例给A。因此不用去刻意追求GPA的高分， 有4.0最好，但是自己努力去学习知识，提升自己的能力才是最重要的。
                                    </div><!--//anwser-->
                                </div><!--//section-block-->
                                
                            </section><!--//doc-section-->
                            
                            <section id="life" class="doc-section">
                                <h2 class="section-title">生活</h2>
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 大一有哪些宿舍？宿舍多贵？宿舍怎么分配？哪些宿舍中国人比较多？<span class="label label-success">New</span></h3>
                                    <div class="answer">大一宿舍楼及其相关介绍请查看<a href="https://www.cmu.edu/housing/our-communities/find-housing/first-year/index.html">官网</a>。</br></br>宿舍费用请查看<a href="https://www.cmu.edu/housing/our-communities/rates-and-fees/18-19HousingRates.pdf">18-19 Housing Rates</a>。</br></br>同一幢宿舍可能会有不同房型，不同房型价格不同，总而言之贵的房型要么是房间略大，要么是多一个客厅，具体各宿舍各房型的样子请查看<a href="https://www.cmu.edu/housing/our-communities/residences/virtual-tours.html">Virtual Tours</a>。</br></br>宿舍申请可以指定室友，根据交定金日期进行分配，所以抱ED同学大腿是最好的选择。</br></br>根据以往惯例，中国人选择比较多的宿舍有：Morewood，Stever，Mudge，Donner，Rez。</div>
                                </div><!--//section-block-->  
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 新生疫苗要求？<span class="label label-success">New</span></h3>
                                    <div class="answer">请查看<a href="https://www.cmu.edu/health-services/immunization/index.html">官网</a>。</div>
                                </div><!--//section-block-->                                 
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 学校各个楼都在哪？</h3>
                                    <div class="answer">请查看<a href="https://www.cmu.edu/assets/pdfs/cmu_map_8.5x11.pdf">校园地图PDF版</a>和<a href="https://admission.enrollment.cmu.edu/pages/online-campus-map">校园地图在线版</a>。</div>
                                </div><!--//section-block-->
                                <div class="section-block">
                                    <h3 class="question"><i class="fa fa-question-circle"></i> 什么时候开学？什么时候放假？</h3>
                                    <div class="answer">请查看<a href="https://www.cmu.edu/hub/calendar/docs/1718-academic-calendar.pdf">Academic Calendar (17-18)</a>和<a href="https://www.cmu.edu/hub/calendar/docs/1819-academic-calendar.pdf">Academic Calendar (18-19)</a>。</div>
                                </div><!--//section-block-->                               
                            </section><!--//doc-section-->
                                                        
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <li><a class="scrollto" href="#major">专业</a></li>
                                <li><a class="scrollto" href="#study">学习</a></li>
                                <li><a class="scrollto" href="#life">生活</a></li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
        
    </div><!--//page-wrapper-->
    {% include "guide/footer.html" %}
    
</body>
{% endblock %}

